collections/ansible_collections/
files/VMware-VMvisor-Installer-*.iso
files/VMware-tools-*
files/ansible-automation-platform-setup*tar.gz
files/ansible-automation-platform-setup*tgz
bcl_setup_config/
vaulted_vars.yml
